

# Dependency directories
node_modules/


# Optional npm cache directory
.npm


# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# macOS
.DS_Store

# IDE
.idea
.vscode
*.swp
*.swo
.roo/
